/* font-family: brandon-grotesque, sans-serif; */
/* font-family: eb-garamond, serif; */

html {
  scroll-behavior: smooth;
}

body {
  max-width: 375px;
  background-color: #F5F0EA;
  margin: auto;
  font-family: brandon-grotesque, sans-serif;
}

header h1 {
  width: 180px;
}

h1,
h2 {
  font-family: eb-garamond, serif;
}
.seed-title {
  margin: 200px 0 0;
}

h2 {
  font-size: medium;
  border-bottom: solid 1px black;
  width: 100px;
}

main {
  margin: auto;
}

main article {
  margin: 60px 0px;
}

.sommary {
  background-color: #F2E0D2;
  width: 375px;
  height: 37px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: eb-garamond, serif;
}

.sommary a {
  text-decoration: none;
  color: black;
  margin: 0 16px;
}

.context {
  margin: 20px 0 160px;
}

.context div {
  background-color: #f5f0eab1;
  font-weight: 300;
}


.context {
  position: relative;
}

.context img {
  width: 250px;
  position: absolute;
  top: 70px;
  right: 0px;
  z-index: -1;
}

.pumpkin,
.flower {
  display: flex;
  justify-content: end;
  align-items: center;
}

.borlotto {
  display: flex;
  align-items: center;
}

.borlotto figure {
  order: -1;
  justify-content: flex-start;
}

.button {
  width: 90px;
  height: 30px;
  color: #F5F0EA;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-pumpkin,
.pumpkin figure {
  background-color: #DB967C;
}

.button-borlotto,
.borlotto figure {
  background-color: #CF7F96;
}

.button-flower,
.flower figure {
  background-color: #A9A3CD;  
}

.pumpkin figure,
.borlotto figure,
.flower figure {
  width: 220px;
  height: 280px;
  padding: auto;
}


.pumpkin img,
.borlotto img,
.flower img {
  width: 280px;
}

.location {
  background-color: #ADD490;
  display: flex;
  flex-direction: column;
  height: 170px;
  overflow: hidden;
}

footer {
  color: rgba(0, 0, 0, 0.447);
  text-align: center;
  font-size: small;
  width: 170px;
  margin: auto;
  padding: 40px 0;
}
