/* font-family: brandon-grotesque, sans-serif; */
/* font-family: eb-garamond, serif; */

html {
  scroll-behavior: smooth;
}

body {
  max-width: 375px;
  background-color: #f5f0ea;
  margin: auto;
  font-family: brandon-grotesque, sans-serif;
}

header h1 {
  width: 180px;
}

h1,
h2 {
  font-family: eb-garamond, serif;
}
.seed-title {
  margin: 165px 0 0;
}

h2 {
  font-size: medium;
  border-bottom: solid 1px black;
  width: 100px;
}

main {
  width: 375px;
}

main article {
  margin: 60px 0px;
}

.sommary {
  background-color: #f2e0d2;
  width: 375px;
  height: 37px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: eb-garamond, serif;
}

.sommary a {
  text-decoration: none;
  color: black;
  margin: 0 16px;
}

.context {
  margin: 20px 0 160px;
  position: relative;
  display: flex;
  justify-content:flex-start;
  align-items: center;
}

.context div {
  background-color: #f5f0eab1;
  font-weight: 300;
  width: 280px;
  margin-top: 50px;
  margin-left: 10px;
  padding: 5px;
}

.context img {
  width: 375px;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
}

figcaption {
  position: absolute;
  font-size: x-small;
  bottom: -110px;
  left: 20px;
}

.pumpkin,
.flower {
  display: flex;
  justify-content: end;
  align-items: center;
}

.borlotto {
  display: flex;
  align-items: center;
}

.borlotto figure {
  order: -1;
  justify-content: flex-start;
}

.button,
article a {
  width: 90px;
  height: 30px;
  color: #f5f0ea;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.button-pumpkin,
.pumpkin figure {
  background-color: #db967c;
}

.button-borlotto,
.borlotto figure {
  background-color: #cf7f96;
}

.button-flower,
.flower figure {
  background-color: #a9a3cd;
}

.pumpkin figure,
.borlotto figure,
.flower figure {
  width: 220px;
  height: 280px;
  padding: auto;
}

.pumpkin img,
.borlotto img,
.flower img {
  width: 190px;
}

.contact {
  position: relative;
}

.location {
  background-color: #add490;
  display: flex;
  flex-direction: column;
  height: 260px;
  width: 100%;
  overflow: hidden;
  transition: height 0.3s;
  position: relative;
}

.location img {
  width: 200px;
  position: absolute;
  right: 30px;
}

.more-contact {
  background-color: black;
  position: absolute;
  bottom: -30px;
  left: 0px;
}

.retails {
  width: 80px;
  margin-left: 10px;
}

.retails h4 {
  white-space: nowrap;
}

.location.is-open {
  height: 800px;
}

footer,
footer div a {
  color: rgba(0, 0, 0, 0.447);
  text-align: center;
  text-decoration: none;
  font-size: small;
  width: 170px;
  margin: auto;
  padding: 40px 0;
}
