/* font-family: brandon-grotesque, sans-serif; */
/* font-family: eb-garamond, serif; */

html {
  scroll-behavior: smooth;
}

body {
  max-width: 375px;
  background-color: #F5F0EA;
  margin: auto;
  font-family: brandon-grotesque, sans-serif;
}

header h1 {
  width: 180px;
}

h1,
h2 {
  font-family: eb-garamond, serif;
}

h2 {
  font-size: medium;
}

.sommary {
  background-color: #F2E0D2;
  width: 375px;
  height: 37px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: eb-garamond, serif;
}

.sommary a {
  text-decoration: none;
  color: black;
  margin: 0 16px;
}

.context {
  margin: 20px 0 160px;
}

.context div {
  background-color: #f5f0eab1;
  font-weight: 300;
}

main .context {
  position: relative;
}
.context img {
  width: 250px;
  position: absolute;
  top: 70px;
  right: 0px;
  z-index: -1;
}

.button {
  width: 90px;
  color: #F5F0EA;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-pumpkin {
  background-color: #DB967C;
}

.button-borlotto {
  background-color: #CF7F96;
}

.button-flower {
  background-color: #A9A3CD;  
}
